<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> home </title>
        <style>
            #container {
                display: flex;
                flex-wrap: wrap;
            }
            #container > a {
                border-radius: 15px;
                text-decoration: none;
                color: black;
                background-color: cornflowerblue;
                width: auto;
                height: auto;
                margin: 10px;
                padding: 15px;
            }
            h3 {
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <h1> Welcome To Home Page </h1>
        <h3 style = "color: cornflowerblue;"> Pick your app: </h3>
        <div id = "container">
            <a href = "http://127.0.0.1:8000/Hello"> Hello World! </a>
            <a href = "http://127.0.0.1:8000/birthday"> Is it Osama's birthday! </a> 
            <a href = "http://127.0.0.1:8000/birthdaychecker"> Is it your birthday! </a>
            <a href = "http://127.0.0.1:8000/todo"> ToDo List </a>
            <a href = "http://127.0.0.1:8000/flights"> Flights </a>
            <a href = "http://127.0.0.1:8000/api/flights"> Flights-API </a>
            <a href = "http://127.0.0.1:8000/users"> Users </a>
        </div>
    </body>
</html>