{% extends "todo/layout.html" %}

{% block body %}
    <h1 class="badge bg-secondary" style="margin : 15px; width: 150px;" role="alert"> Items in List: </h1>
    <ul id = "grid">
        {% for task in tasks %} 
            <li class="grid class"> {{task}} </li>
        {% empty %}
            <li class ="grid class"> No Items Yet </li>
        {% endfor %}
    </ul>
    <a href = "{% url 'todo:add' %}" class="badge bg-secondary" style="margin : 15px; width: 150px;" role="alert"> Add Task </a>

{% endblock %}
